@import url('https://fonts.googleapis.com/css?family=Exo+2');

:root {
    --primary: #334455;
    --white: ivory;
    --white_dark: rgb(240, 240, 220);
    --regular: lightgray;
}

body {
    padding: 1em;
    font-family: 'Exo 2', sans-serif;
    background-color: var(--white);
    color: var(--primary);
}

section {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 1em;
}

#content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 'items_list item_details' 'items_list item_details';
    grid-column-gap: 1em;
}

#itemsList {
    grid-area: items_list;
}

#itemDetails {
    grid-area: item_details;
}

#itemTable {
    width: 100%;
}

#itemTable, #itemTable th, #itemTable td {
    border: 1px solid var(--regular);
    border-collapse: collapse;
    padding: 0.75em;
}

#itemTable tr {
    position: relative;
}

#itemTable tr:nth-child(even) {
    /*background-color: var(--white_dark);*/
}

#itemTable tr th:last-child, #itemTable tr td:last-child {
    padding: 0px;
    width: 0px;
    border-style: none;
}

#itemTable tr th:nth-last-child(2), #itemTable tr td:nth-last-child(2) {
    border-right-style: none;
}

.toolbar {
    display: none;
    
    position: absolute;
    right: 0.5em;
    transform: translateY(-50%);

    
    padding: 0.2em;

    border-radius: 1.2em;


    align-items: center;
    justify-content: space-around;


    background-color: var(--regular);
}

.toolbarAnchor {
    position: relative;
}

tr:hover .toolbar {
    display: flex;
}

.button {
    margin: 0.5em 0;
    color: var(--primary);
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    border: none;
    border-radius: 1em;
    background-color: var(--regular);
    transition: background-color 0.5s;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(163, 163, 163,1);
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

  
#overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    position: relative;
    /*height: 60%;*/
    width: 50%;

    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color:  var(--white_dark);
    padding: 1em;
    border-radius: 1em;
}

.iconButton {
    height: 1em;
    width: 1em;
    text-align: center;
    font-size: 1em;
    padding: 0.5em;
    background-color: rgba(163, 163, 163,0);
    border-radius: 1em;
    transition: background-color 0.5s;
}

.iconButton:hover {
    cursor: pointer;
    background-color: rgba(163, 163, 163,1);
}

.popup .iconButton {
    position: absolute;
    top: 10px;
    right: 10px;

    color: var(--primary);
    text-decoration: none;
}



input[type='text'] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--regular);
    border-radius: 0.25em;
    padding: 0.5em;
    margin: 0.5em 0;
}